<footer class="footer">
    <small>
        网站底部测试
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li> 
            <li><%= link_to "Contact", contact_path %></li> 
            <li><a href="http://linhong.me/">LIN HONG</a></li>
        </ul>
    </nav>
</footer>